Solution/LR1/obj/Debug/net8.0/LR1.AssemblyInfo.cs
Solution/LR1/obj
Solution/LR2/obj
Solution/LR2/bin
Solution/LR2/obj
.DS_Store
Solution/LR1/bin/Release/net8.0
Solution/LR3/bin
Solution/LR3/obj
.vscode
.vscode
